body {
	background: #fafafa;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;                                                                                       
} 

//html, body {
//	margin: 0;
//	padding: 0;
//}
//

//landing style not working for some reason
.landing {
	background-image:url(http://lorempixel.com/800/800);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	background-color: #303030;
	width:100%;
	height: 600px;
	text-align:center;
	display:table;
}

.left-info {
	position:absolute;
	top: 200px;
	left: 10px;
	max-width: 300px;
}

.header {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:40;
}

.rand-bimage {
	background-repeat:no-repeat;
	background-position: center;
	width:100%;
	height:600px;
	background-size:cover;
	text-align:center;
	display:table;
}
//
//.landing h1 {
//	display:table-cell;
//	vertical-align:middle;
//	color: white;
//}
